* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 82vh;
  
  flex-direction: column;
  background-color: #486dbe;
  
}
